@model OugAssistant_WEB.Models.Planning.TaskViewModel
@using OugAssistant.Features.Planning.Model;

<oug-list id="ouglist-tasklist">
	@foreach (var item in Model.TaskList)
	{
		<li class="list-group-item" data-taskid="@(item.Id)">
			<div class="m-2">
				<div class="row align-items-center">
					<div class="col-8 d-flex align-items-center">
						<h4 class="mb-0"><strong>@item.Name</strong></h4>
					</div>
					<div class="col-4 text-end">
						🎯 @item.Goal.Name
					</div>
				</div>

				<div class="row mt-2">
					<div class="col-4">
						@switch (item)
						{
							case OugMission m:
								<div>
									📅 @m.DeadLine
								</div>
								break;
							case OugEvent e:
								<div class="d-flex flex-column justify-content-between">
									<span>📍 @e.Place</span>
									<span>⏰ @e.EventDateTime</span>
								</div>
								break;
							case OugRoutine r:
								<div>
									<i class="bi bi-repeat me-1"></i> Veces por semana: @r.WeekTimes?.Length ?? 0
								</div>
								break;
						}
					</div>
					<div class="col-8">
						ℹ️ @item.Description
					</div>
				</div>

			</div>

		</li>
	}
</oug-list>



<div class="modal fade" id="taskModal" tabindex="-1" aria-labelledby="taskModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-fullscreen modal-dialog-scrollable p-3">
		<div class="modal-content rounded-1">

			<!-- Encabezado del modal -->
			<div class="modal-header">
				<h5 class="modal-title" id="taskModalLabel">Task</h5>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>

			<!-- Cuerpo del modal -->
			<div class="modal-body d-flex flex-column">

				<div class="row mb-3">
					<!--Name-->
					<div class="col">
						<div class="form-floating">
							<input type="text" class="form-control" id="inputTaskName" placeholder="Name">
							<label for="inputTaskName">Task Name</label>
						</div>
					</div>

					<!--Goal-->
					<div class="col-4">

						<div class="form-floating">
							<select class="form-select form-select-lg" id="selectTaskGoal" aria-label="Goal" placeholder="Choose">
								<option selected value=""></option>
								<option value="New">New</option>
								@foreach (var goal in Model.GoalList)
								{
									<option value="@(goal.Id)">@(goal.Name)</option>
								}
							</select>
							<label for="floatingSelectGoal">Goal</label>
						</div>
					</div>
				</div>

				<!--Type-->
				<div class="mb-3">
					<nav>
						<div class="nav nav-tabs" id="nav-tab" role="tablist">
							<button class="taskType nav-link active" id="nav-mission-tab" data-tasktype="mission" data-bs-toggle="tab" data-bs-target="#nav-mission" type="button" role="tab" aria-controls="nav-mission" aria-selected="true">Mission</button>
							<button class="taskType nav-link" id="nav-event-tab" data-tasktype="event" data-bs-toggle="tab" data-bs-target="#nav-event" type="button" role="tab" aria-controls="nav-event" aria-selected="false">Event</button>
							<button class="taskType nav-link" id="nav-routine-tab" data-tasktype="routine" data-bs-toggle="tab" data-bs-target="#nav-routine" type="button" role="tab" aria-controls="nav-routine" aria-selected="false">Routine</button>
						</div>
					</nav>
					<div class="tab-content" id="nav-tabContent">
						<!--Mission-->
						<div class="tab-pane fade show active taskTypeContent" id="nav-mission" role="tabpanel" aria-labelledby="nav-mission-tab" tabindex="0">
							<div class="row my-3">
								<div class="form-floating">
									<input type="datetime-local" class="form-control" id="inputTaskMissionDeadLine" placeholder="Deadline">
									<label for="floatingInputDeadLine">Deadline</label>
								</div>
							</div>

						</div>
						<!--Event-->
						<div class="tab-pane fade taskTypeContent" id="nav-event" role="tabpanel" aria-labelledby="nav-event-tab" tabindex="0">

							<div class="row my-3">

								<div class="col">
									<div class="form-floating">
										<input type="text" class="form-control" id="inputTaskEventPlace" placeholder="Place">
										<label for="floatingInputPlace">Place</label>
									</div>
								</div>
								<div class="col-4">
									<div class="form-floating">
										<input type="datetime-local" class="form-control" id="inputTaskEventDateTime" placeholder="EventDatetime">
										<label for="floatingInputEventDatetime">EventDatetime</label>
									</div>
								</div>


							</div>

						</div>
						<!--Routine-->
						<div class="tab-pane fade taskTypeContent" id="nav-routine" role="tabpanel" aria-labelledby="nav-routine-tab" tabindex="0">

							<div class="btn-group row w-100 my-3" role="group" aria-label="Basic checkbox toggle button group">

								@for (int i = 0; i < 7; i++)
								{
									<div class="col-md col-sm-12 w-100 m-1">
										<div class="row">
											<div class="col-md-12 col-6">
												<input type="checkbox" class="taskRoutineDay btn-check" id="inputTaskRoutineDay@(i)" data-weekday="@(i)" autocomplete="off" data-bs-toggle="collapse" data-bs-target="#routineDayTimeListContainer@(i)">
												<label class="btn btn-outline-primary w-100 h-100" for="inputTaskRoutineDay@(i)">Day @(i)</label>
											</div>
											<div class="col-md col-6 collapse" id="routineDayTimeListContainer@(i)">
												<div id="routineDayTimeList@(i)">
													<div class="row w-100 m-0 position-relative" id="routineDayTime@(i)0" data-weekday="@(i)" data-hour="0">
														<div class="form-floating col p-0 ">
															<input type="time" class="form-control taskRoutineTimeOfDay" id="inputTaskRoutineTimeOfDay@(i)0" placeholder="Hour @(i)0">
															<label for="inputTaskRoutineTimeOfDay@(i)0">Hour @(i)0</label>
														</div>
														<button class="col-1 removeRoutineHour btn btn-close position-absolute top-0 end-0" data-weekday="@(i)" data-hour="0"></button>
													</div>
												</div>
												<button class="addRoutineHour w-100 btn btn-light" data-weekday="@(i)">+</button>
											</div>

										</div>
									</div>
								}

							</div>
						</div>
					</div>
				</div>

				<div class="row flex-grow-1">
					<div class="col-1 d-flex flex-column">
						<label for="inputTaskPriority" class="form-label">Priority</label>
						<label for="inputTaskPriority" class="form-label">High</label>
						<div class="h-100 flex-grow-1 d-flex flex-column">
							<input id="inputTaskPriority" type="range" class=" flex-grow-1" min="0" max="2" value="0" style="writing-mode: vertical-lr;
									  direction: rtl;
									  width: 100%;
									  appearance: none;
									  background: linear-gradient(to bottom,#e30000, #f9f9f9);
									  border-radius: 5px;
									  outline: none;
									}">
						</div>
						<label for="inputTaskPriority" class="form-label">Low</label>
					</div>
					<!--Description-->
					<div class="col">
						<div class="form-floating h-100">
							<textarea class="form-control h-100" placeholder="Description" id="inputTaskDescription"></textarea>
							<label for="inputTaskDescription">Task Description</label>
						</div>
					</div>
				</div>
			</div>

			<!-- Pie del modal -->
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
				<button id="btnSaveTask" type="button" class="btn btn-primary">Guardar Cambios</button>
			</div>

		</div>
	</div>
</div>

<div class="modal fade" id="goalModal" tabindex="-1" aria-labelledby="goalModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-dialog-scrollable p-3">
		<div class="modal-content rounded-1 h-100">

			<!-- Encabezado del modal -->
			<div class="modal-header">
				<h5 class="modal-title" id="goalModalLabel">Goal</h5>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>

			<!-- Cuerpo del modal -->
			<div class="modal-body d-flex flex-column h-100">

				<!--Name-->
				<div class="form-floating mb-3">
					<input type="text" class="form-control" id="inputGoalName" placeholder="Name">
					<label for="inputGoalName">Goal Name</label>
				</div>
				<!--Description-->
				<div class="flex-grow-1">
					<div class="form-floating mb-3 h-100">
						<textarea type="text" class="form-control h-100" id="inputGoalDescription" placeholder="Description"></textarea>
						<label for="inputGoalDescription">Goal Description</label>
					</div>
				</div>
			</div>

			<!-- Pie del modal -->
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
				<button id="btnSaveGoal" type="button" class="btn btn-primary">Guardar Cambios</button>
			</div>

		</div>
	</div>
</div>

<script src="~/plugins/OugList/OugList.js"></script>
<script src="~/js/Planning/task.js"></script>
