@model OugAssistant_WEB.Models.Planning.PlanningViewModel
@using OugAssistant_APP.DTO.Planning

<oug-list id="ouglist-tasklist" >
	@foreach (var item in Model.TaskList)
	{
		<li class="list-group-item" data-taskid="@(item.Id)">
			<div class="m-2">
				<div class="row align-items-center">
					<div class="col-8 d-flex align-items-center">
						<h4 class="mb-0"><strong>@item.Name</strong></h4>
					</div>
					<div class="col-4 text-end">
						🎯 @item.Goal.Name
					</div>
				</div>

				<div class="row mt-2">
					<div class="col-4">
						@switch (item)
						{
							case MissionAPIout m:
								<div>
									📅 @m.DeadLine
								</div>
								break;
							case EventAPIout e:
								<div class="d-flex flex-column justify-content-between">
									<span>📍 @e.Place</span>
									<span>⏰ @e.EventDateTime</span>
								</div>
								break;
							case RoutineAPIout r:
								<div>
									<i class="bi bi-repeat me-1"></i> Veces por semana: @r.WeekTimes?.Length ?? 0
								</div>
								break;
						}
					</div>
					<div class="col-8">
						ℹ️ @item.Description
					</div>
				</div>

			</div>

		</li>
	}
</oug-list>